*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    background: #E2E2E2;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

main {
    max-width: 1491px;
    margin: 0 auto;
    margin-top: 100px;
}