.list-wrapper {
    width: 50%;
}

.item {
    display: flex;
    padding: 9px 17px;
    justify-content: space-between;
    align-items: center;
    background: #e2e2e2;
}

.item:nth-child(2n) {
    background: #ffffff;
}

@media screen and (max-width: 650px) {
    .list-wrapper {
        width: 100%;
    }
}
