.header {
    padding: 20px 0;
    max-height: 92px;
    background: var(--second-gradient);
}

.container {
    display: flex;
    margin: 0 auto;
    max-width: 1620px;
    justify-content: space-between;
}

/* logo */

.logo {
    display: flex;
    align-items: center;
}

.logo__img {
    margin-right: 13px;
}

.logo__text {
    color: #fff;
    font-size: 32px;
    font-weight: 500;
}

/* nav */

.burger-btn {
    display: none !important;
}

.nav {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav__link {
    padding-bottom: 3px;
    --color: #fff;
    color: var(--color);
    font-size: 21px;
    font-weight: 600;
}

.nav__link--active {
    border-bottom: 3px solid var(--color);
}

/* profile */

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile__name {
    font-size: 21px;
    font-weight: 600;
    color: #fff;
}

.log-text {
    font-size: 21px;
    font-weight: 600;
    color: #fff;
}

.profile__img {
    width: 52px;
    aspect-ratio: 1;
    border: 2px solid #fff;
    border-radius: 100%;
}

@media screen and (max-width: 1650px) {
    .header {
        padding-left: 20px;
        padding-right: 20px;
    }

    .nav__link {
        font-size: 12px;
    }

    .profile__name {
        font-size: 12px;
    }
}

@media screen and (max-width: 860px) {
    .burger-btn {
        display: block !important;
    }

    .container {
        justify-content: start;
    }

    .profile {
        margin-left: auto;
    }

    .nav {
        display: none;
        padding: 10px;
        position: absolute;
        left: 0;
        top: 92px;
        flex-direction: column;
        background: var(--second-gradient) !important;
        gap: 5px;
        z-index: 100;
    }

    .profile__name {
        display: none;
    }

    .nav--show {
        display: flex;
    }
}

@media screen and (max-width: 1030px) {
    .logo__text {
        display: none;
    }
}
